@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  .clip-diagonal-reverse {
     clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
}

body {
    background-color: #0B1120;
    color: white;
}
